h1 {
    margin-left: 500px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    transform-style: preserve-3d
}



.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

fieldset {
    border-top-style: double;
    border: 2px solid rgb(102, 102, 176);
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
}

legend {
    font-size: larger;
    color: blueviolet;
    font-weight: bold;
}


.main-div {
    border: 2px solid black;
    width: 500px;
    text-align: center;
    margin-left: 500px;
    border-radius: 20px;
    box-shadow: 15px 15px 150px rgba(0, 0, 0, 0.2);
    background-color: lightskyblue;

}

.button {
    width: 70px;
    margin-left: 240px;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    color: azure;
    margin-bottom: 5px;
}

.button:hover {
    opacity: 0.5;
    transform: scale(1.1);
}



input {
    border-radius: 5px;
    border-color: blueviolet;

}

.resumeview {
    background-color: lightskyblue;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 500px;
    line-height: 20px;

}